﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="redefinirsenha.aspx.cs" Inherits="RedefinirSenha.redefinirsenha" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Mudar Senha</title>

         
    
            
    
    <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css"/>
   <script></script>
    <link href="semantic.css" rel="stylesheet" />
    <link href="Components/main.css" rel="stylesheet" />
    <script src="semantic.js"></script>
    
     
 </head>
  <body>
      <div>

      </div>
           
    <form id="form1" runat="server">
       <div>
                <center> <h3>Alterar senha da conta </h3></center>
          <img src="images.png" width="100" height="150" alt="cadeado"/>
                                                          
            <center><p>Confirme seu cpf Abaixo e receba um E-mail para cadastrar uma nova senha.</p></center>
            <asp:Label CssClass="tela ui right labeled input" runat="server" Text="Digite seu CPF"></asp:Label>
            </div> 
            <div class="tela ui right labeled input">
              <a class="tela ui label">CPF</a>  <asp:TextBox runat="server" ID="txtCPF" placeholder="Digite seu CPF..."></asp:TextBox>
             </div>
                                                                                               
                              
            <asp:Button OnClick="btnEnviarsenhaporemail_Click" runat="server" CssClass="tela ui primary button" ID="btnEnviarsenhaporemail" Text="Enviar senha por e-mail" />
                        
          </form>

</body>
</html>
