﻿body
{
    background-color:azure;
    color:black;
    width:1850px;
    height: 100px;
    margin:100px 0 0480px;

    padding-top: 150px;
    text-align: center;
    border-radius: 20px;
    
}

.tela Label {
    display: block;
    margin: 5px 10px 15px;
    width: 85%;
    padding: 5px;
    border-radius: 20px;
    color: blue;
}
.tela ui label {
    display: block;
    padding: 10px 10px 5px 15px;
    font-size: 30px;
    color: black;
}

.tela ui primary button {
    display: block;
    margin: 20px 0 0 150px;
    font-family: 20px;
}

